{% include "templateTop.html" %}

<main id="add_car">
    <h1>ajouter une voiture à la collection</h1>
    {% if error %}

    <div class="error_container">
        <p>Une erreur est survenu</p>
        <p>{{ errorMessage }}</p>
    </div>

    {%elif saved %}
    <div class="success_container">
        <p>✅ voiture créée</p>        
    </div>
    
    <a href="/cars/add">ajouter une voiture</a>

    {% else %}

    <form method="POST" action="/cars">
        <div>
            <label for="brand">marque</label>
            <input id="brand" name="brand" placeholder="une marque" required/>
        </div>

        <div>
            <label for="model">modèle</label>
            <input id="model" name="model" placeholder="un modèle" required/>
        </div>
        <input type="submit" value="envoyer" class="add_button"/>
    </form>

    {% endif %}

</main>

{% include 'templateBottom.html' %}