{% include "templateTop.html" %}

<main id="car_main">
    <h1>Voiture</h1>

    <section>
    
        <p>{{ "marque"|upper }}: {{ car.brand }}</p>
        <p>{{ "modèle"|upper }}: {{ car.model }}</p>

        <div class="button_container">
            <a class="update_button" href="/cars/update/{{car.car_id}}">modifier</a>
            <form>
                <input type="hidden" value="{{ car.car_id }}" />
                <button type="submit" class="delete_button" id="delete_button">
                    supprimer
                </button>
        </form>
        </div>
        

    </section>
</main>
<script src="/static/js/delete.js" ></script>

{% include 'templateBottom.html' %}