{% include "templateTop.html" %}

<main>
    <h1>Bienvenue dans <span>CARSSSS</span></h1>
    <h2>Que veux-tu faire Bastien ?</h2>
    <ul class="choice_list">
        <li>
            <a href="/cars">voir nos voitures</a>
        </li>
        {% for brand in brandList %}
        <li>
            <a href="/cars/brand/{{brand.brand}}">voir nos {{ brand.brand }}</a>
        </li>
        {% endfor %}
        <li>
            <a href="/cars/add">ajouter une voiture</a>
        </li>
    </ul>
</main>

{% include 'templateBottom.html' %}