<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK rel=stylesheet type="text/css" href="/static/style.css">
    
    <title>Car</title>
</head>
<body>
    <main>
        <h1>Bienvenue dans <span>CARSSSS</span></h1>
        <nav>
            <ul>
                <li>
                    <a href="/cars">voir nos voitures</a>
                </li>
                <li>
                    <a href="/cars/add">ajouter une voiture</a>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>